{% load static %}

<!DOCTYPE html>
<html lang="en-US">
  <head>
  
    <title>Domain Verifier</title>
    <meta charset="UTF-8">
    <meta name="description" content="Something Went Wrong!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script> 

  </head>
  <body>
    <div class="container h-100">
      
      <div class="row h-100 justify-content-center align-items-center">
        <div class="card col-md-10 col-lg-6 mx-auto">
          <div class="card-body" style="text-align: center;">
              <p class="text-center">
                <img src="{% static 'images/error.png' %}">
              </p>
              <h4 class="card-title text-center">Something Went Wrong!</h4>
              <hr>
              <p class="card-text">
                {{ text }}
              </p>
              {% if again==True %}
              <p class="card-text">Please try to submit the form again by clicking the button below.</p>
              <div class="text-center">
                <a href="/" class="btn btn-primary">Try Again</a>
              </div>
              <hr>
              {% endif %}
          </div>
        </div>
      </div>
    </div> 
  </body>
</html>
