{% load static %}

<!DOCTYPE html>
<html lang="en-US">
  <head>
  
    <title>Domain Verifier</title>
    <meta charset="UTF-8">
    <meta name="description" content="Domain Submission Page.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script> 

    <script src="{% static 'js/index.js' %}"></script>

  </head>
  <body>
    <div class="container h-100">
      
      <div class="row h-100 justify-content-center align-items-center">
        <div class="card col-md-10 col-lg-6 mx-auto">
          <div class="card-body">
            <p class="text-center">
                <!-- <img src="{% static 'images/fsf_logo.png' %}" style="height:70px"> -->
            </p>
              
            <form method="POST" action="/submit" class="form" enctype=multipart/form-data>
              <h4 class="card-title text-center">Domain Verifier</h4>
              <hr>
              <p class="card-text" style="text-align: center;">Submit domains for verification via the Text Field<br> or by Uploading a <code>.txt</code> file.</p>
              <p class="card-text" style="text-align: center;color:red;font-size: 0.9rem">Please note: Enter 1 Domain on each line.</p>
              <hr>
              <div class="form-group">
                <label for="domains">Enter a list of Domains :</label>
                <textarea class="form-control" name="domains" rows="5" id="domains" placeholder="One domain on one line only."></textarea>
              </div> 
              <p class="label text-center">OR</p>
              <p class="label" style="margin-bottom: 5px">Upload Text File:</p>
              <div class="form-group">
                <div class="custom-file">
                  <label class="custom-file-label" for="domains_file">Choose file...</label>
                  <input type="file" name="domains_file" class="custom-file-input" id="domains_file">
                </div>
              </div>
              <br>
              <!-- <p class="invalid-feedback text-center" style="display: block">Example invalid custom file feedback</p> -->
              <p class="text-center">
                <button id="submit" type="submit" class="btn btn-outline-primary text-center">Submit</button>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div> 
  </body>
</html>