{% load static %}

<!DOCTYPE html>
<html lang="en-US">
  <head>
  
    <title>Domain Verifier</title>
    <meta charset="UTF-8">
    <meta name="description" content="Thanks For Subscribing!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script> 

  </head>
  <body>
    <div class="container h-100">
      
      <div class="row h-100 justify-content-center align-items-center">
        <div class="card col-md-10 col-lg-6 mx-auto">
          <div class="card-body">
              <div class="search-form">
                <h4 class="card-title text-center">Search Domains</h4>
                <hr>
                <p class="card-text" style="text-align: center;">Search details for a particular domain.</p>
                <hr>
                <p>Enter Domain:</p>
                <div class="input-group mb-3">
                  <input type="text" name=query class="form-control" id="query" placeholder="Enter query here.">
                  <div class="input-group-append">
                    <button class="btn  btn-primary" id="submit">Search</button> 
                  </div>
                </div>
                <br>
                
                <div id="results">
                  <p id="msg">Search Results for "<b id="domain_name"></b>"</p>
                  <p id="fail" class="text-center alert"><b>No Results</b></p>
                  <table class="table table-striped table-bordered" id="result-table">
                    <thead>
                      <tr>
                        <th>Domain</th>
                        <th>Last Updated</th>
                        <th>IP Address.</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td id="dm">gmail.com</td>
                        <td id="tm">2018-12-29 12:28:08</td>
                        <td id="ip">1.1.1.1</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $( document ).ready(function() {
        $('#msg').hide()
        $('#fail').hide()
        $('#result-table').hide()
        
        $('#submit').click(function(){
          $('#msg').hide()
          $('#fail').hide()
          $('#result-table').hide()
          
          var query=$('#query').val()
          if(query==''){
              return 0;
          }
          $('#domain_name').html(query);
          
          $.ajax({
            url: '/search',
            data: 'query='+query,
            cache: false,
            type: 'POST',
            success: function(response) {
              console.log(response['result']);
              $('#msg').show();
              if(response['result']=='fail'){
                $('#fail').show();
              }
              else{
                domain=response['domain'];
                time=response['time'];
                ip=response['ip'];
                $('#dm').html(domain);
                $('#tm').html(time);
                $('#ip').html(ip);
                $('#result-table').show()
              }
            },
            error: function(error) {
              console.log(error);
                
            }
          });
          
          console.log(query)
        })
      });
    </script> 
  </body>
</html>